/*NavBar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(203, 22, 86);
}

li {
  float: right;
}
.float-style {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: pink;
  color: black;
}

.active {
  background-color: white;
}